* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.studenter {
    background-color: pink;
    color: black;
    font-size: 25px;
    gap: 20px;
    text-align: center;

}